@font-face {
    font-family: 'oslight';
    src: url('OpenSans-CondLight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'osbold';
    src: url('opensans/OpenSans_Condensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	padding:.5em;
	background-color: rgba(0, 0, 0, 0);
	font-family: 'osbold';
	color:#FFFFFF;
}

#board {
	min-width: 500px;
	display: flex;
	width: fit-content;
	height: 200px;
	background: #303030;
	background: radial-gradient(ellipse 80% 200%,rgb(81, 98, 132) 0%, rgb(31, 66, 104) 74%, rgb(15, 15, 15) 100%);
	opacity: 1;
	padding: 1em;
	text-shadow: 1px 1px 2px black;
	border: 2px solid grey;
	box-shadow: 1px 1px 6px 3px black;
}

.hidden {
	display: none;
}

#art {
	flex: 0;
	padding-right: 1em;
}

#artimg {
	width: 128px;
	box-shadow: 1px 1px 6px 2px rgba(0,0,0,.75);
	border: 1px solid grey;
}

#metadata {
	flex: 4;
}

#artist {
	font-size: 20pt;
	white-space:nowrap;
	overflow:hidden;
}

#album {
	font-size: 20pt;
	white-space:nowrap;
	overflow:hidden;
	font-family: "oslight";
}

#title {
	font-size:32pt;
	white-space:nowrap;
	overflow:hidden;
}

#elapsed {
	display: inline-block;
	font-size:24px;
	white-space:nowrap;
	overflow:hidden;
	text-align:right;
}

#playpaused {
	display: inline-block;
	font-size:24px;
	white-space:nowrap;
	overflow:hidden;
}

#progresswrapper {
	height: 32px;
	border: 1px solid black;
}

#progress {
	display: inline-block;
	background-color:#fff;
	opacity:0.6;
	height: 100%;
}